<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">

		<title>
			{% block title %}Bienvenue chez
			{% endblock %}
			YASO RDC
		</title>
		<meta content="Communication d'entreprise et couverture médiatique partout en RDC" name="description">
		<meta
		content="Communication , entreprise, RDC, Katanga politique, politique " name="keywords">

		<!-- Favicons -->
		<link href="{{asset('images/iconeyaso.jpg')}}" rel="icon">
		<link
		href="{{asset('images/iconeyaso.jpg')}}" rel="apple-touch-icon">

		<!-- Google Fonts -->
		<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

		<!-- Vendor CSS Files -->
		<link href="{{asset('assets/vendor/aos/aos.css')}}" rel="stylesheet">
		<link href="{{asset('assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
		<link href="{{asset('assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
		<link href="{{asset('assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
		<link href="{{asset('assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
		<link href="{{asset('assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
		<link
		href="{{asset('assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

		<!-- Template Main CSS File -->
		<link
		href="{{asset('assets/css/style.css')}}" rel="stylesheet">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>

	<body>

		<!-- ======= Header ======= -->
		<header id="header" class="fixed-top d-flex align-items-center">
			<div class="container d-flex align-items-center">
				{# <h1 class="logo me-auto"><a href="{{url('app_accueil')}}">YASO RDC<span>.</span></a></h1> #}
				<!-- Uncomment below if you prefer to use an image logo --><a href="{{url('app_accueil')}}" class="logo me-auto"> <img src="{{asset('images/logoyaso.jpg')}}" alt=""></a>

				<nav id="navbar" class="navbar order-last order-lg-0">
					<ul>
						<li>
							<a class="nav-link scrollto active" href="{{url('app_accueil')}}">Accueil</a>
						</li>
						<li class="dropdown">
							<a href="{{url('app_service_index')}}">
								<span>Services
								</span>
                {% if services is defined and services| length > 0 %}
									<i class="bi bi-chevron-down"></i>
								{% endif %}
							</a>
							{% if services is defined and services|length > 0 %}
								<ul>
									{% for service in services %}
										<li>
											<a href="{{url('app_service_show',{id: service.id})}}">{{service|title }}</a>
										</li>
									{% endfor  %}
								</ul>
							{% endif %}
						</li>
						<li>
							<a class="nav-link scrollto" href="{{url('app_qsn')}}">Qui sommes-nous</a>
						</li>
						<li class="dropdown">
							<a href="{{url('app_magazine_index')}}">
								<span>Magazines
								</span>
								{% if magazines is defined and magazines| length > 0 %}
									<i class="bi bi-chevron-down"></i>
								{% endif %}
							</a>
							{% if magazines is defined and magazines| length > 0 %}
								<ul>
									{% for magazine in magazines %}
										<li>
											<a href="{{url('app_magazine_show', {'id': magazine.id })}}">{{magazine}}</a>
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						</li>
						<li>
							<a class="nav-link scrollto" href="#contact">Contact</a>
						</li>
					</ul>
					<i class="bi bi-list mobile-nav-toggle"></i>
				</nav>
				<!-- .navbar -->

				<a href="{{url('app_login')}}" class="get-started-btn scrollto">Connexion</a>
			</div>
		</header>

		<!-- End Header -->
	</body>
</html>
