{% extends 'base.html.twig' %}

{% block title %}CategorieMagazine{% endblock %}

{% block body %}
    <h1>CategorieMagazine</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie_magazine.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ categorie_magazine.designation }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ categorie_magazine.description }}</td>
            </tr>
            <tr>
                <th>Contenue</th>
                <td>{{ categorie_magazine.contenue }}</td>
            </tr>
            <tr>
                <th>Photo1024x768</th>
                <td>{{ categorie_magazine.photo1024x768 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categorie_magazine_index') }}">back to list</a>

    <a href="{{ path('app_categorie_magazine_edit', {'id': categorie_magazine.id}) }}">edit</a>

    {{ include('categorie_magazine/_delete_form.html.twig') }}
{% endblock %}
