{% extends 'base.html.twig' %}

{% block title %}Tous les magazines YASO
{% endblock %}
{% block titrePage %}
	{{ block('title') }}
{% endblock %}

{% block body %}
	{% for magazine in magazines %}

		<article class="entry">

			<div class="entry-img">
				<img src="{{asset('assets/img/blog/blog-1.jpg')}}" alt="{{ magazine.titre }}" class="img-fluid">
			</div>

			<h2 class="entry-title">
				<a href="{{url('app_magazine_show', {id:magazine.id})}}">
					{{ magazine.titre }}
				</a>
			</h2>

			<div class="entry-meta">
				<ul>
					<li class="d-flex align-items-center">
						<i class="bi bi-person"></i>
						<a href="blog-single.html">John Doe</a>
					</li>
					<li class="d-flex align-items-center">
						<i class="bi bi-clock"></i>
						<a href="blog-single.html">
							<time datetime="2020-01-01">Jan 1, 2020</time>
						</a>
					</li>
					<li class="d-flex align-items-center">
						<i class="bi bi-chat-dots"></i>
						<a href="blog-single.html">12 Comments</a>
					</li>
				</ul>
			</div>

			<div class="entry-content">
				<p>
					{{ magazine.description }}
				</p>
				<div class="read-more">
					<a href="{{url('app_magazine_show', {id: magazine.id})}}">En savoir plus
					</a>
				</div>
			</div>

		</article>
		<!-- End blog entry -->

{% else %}
            <div class="alert alert-info">
                Aucune information dans le syètème 
            </div>
        {% endfor %}
        <div class="blog-pagination">
              <ul class="justify-content-center">
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
              </ul>
            </div>{% endblock %}
